{#
    @file
    marca_favorita.html.twig

	Available variables:
 		- title: titulo de la página
		- marca: La marca favorita

#}
<div class="marca-container">
  <h3>{{title}}</h3>
  <p>Tu color favorito: {{marca}}</p>
</div>

